ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
    top: 0;
    width: 100%;
}
header{
    top: 0;
    width: 100%;
    align-items: flex-start;
}

li a{
    font-size: 45px;
    font-family: titleFont;
    color: #ffff;
    text-decoration-line: none;
}