@font-face {
  font-family: font;
  src: url('./assets/fonts/Arial.ttf');
}

@font-face {
  font-family: titleFont;
  src: url('./assets/fonts/Intro.otf');
}


:root {
  font-family: titleFont;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

